@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.sidebar{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    padding: 6px 14px;
    background-color: #0d0d13;
    transition: all 0.5s ease;
    z-index: 999999;
}
.sidebar.active{
    width: 80px;
}
.logo{
    opacity: 1;
}
.sidebar.active .logo{
   opacity: 0;
}
.sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 25px;
    width: 100%;
    align-items: center;
    gap: 2%;
}
#img{
    height: 25px;
}
.sidebar #btn{
    position: absolute;
    
    left: 90%;
    top: 6px;
    font-size: 9px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);    
}
.sidebar.active #btn{
    left: 50%;
}
.sidebar.active .links_name{
    opacity: 0;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar li{
    color: white;
    list-style: none;
    position: relative;
    height: 50px;
    width: 100%;
    display: flex;
    margin: 25px 5px;
    align-items: center;
    border-radius: 12px;
    
  
}
.sidebar ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 122px;
    background-color: white;
    left: 52px;
    top: 50%;
    color: #0d0d13;
    transform: translateY(-50%);
    text-align: center;
    align-items: center;
    line-height: 35px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.231);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active ul li:hover .tooltip{
    top: 50%;
    transition: all 0.5 ease;
    opacity: 1;


}
.sidebar li a{
    display: flex;
    align-items: center;
    

}
.sidebar li:hover{ 
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}
.sidebar li a box-icon{
    height: 25px;
    min-width: 50px;
    border-radius: 12px;
    text-align: center;
    color: white;
   
}
.sidebar input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    
    top: 0;
    border-radius: 12px;
    outline: none;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 18px;
    padding-left: 50px;
    color: white;
}
#search{
    position: absolute;
    z-index: 99;

}
#pic_product{
    background: rgba(255, 255, 255, 0.05);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#card_product{
    background:rgba(212, 88, 131, 0.904);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 5%;
    padding-top: 10%;
}
.product-image{
   width: 160px;
   height: 160px;
   margin-bottom: -10%;

}
.product-image2{
    width: 160px;
    height: 220px;
    margin-top: 2%;
    border-radius: 16px;
   align-items: center;
   align-content: center;
   align-self: center;
 
 }
 .product-image_details {
  
    height: 100%;
    position: relative;
    z-index: 12;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
  
  }
  .product-image_details2{
    height: 95vh;
    position: relative;
    z-index: 12;
    border-bottom-left-radius: 56px;
    border-top-left-radius: 56px;
  }
  .name{
    
    max-width: 200px; /* Limita el ancho máximo del contenedor */
    word-wrap: break-word; /* Permite que el texto largo se ajuste a la siguiente línea */
    overflow-wrap: break-word; /* También ayuda a romper palabras largas si es necesario */
    white-space: normal
  }
.name, .price{
    color: white;
}
.category{
   font-size: 9px;
   position: relative;
  
}
#card_content{
    position: relative;
   
    margin-top: -45%;
}
#shop{

    padding: 1.6%;

}

#description_all{
    display: flex;
    gap: 1%;
}
.container {
  display: flex;

  align-items: center;
  justify-content: center;
}
.Modal{
    margin-top: 0.5%;
    margin-left: 100px;
    background: rgba(255, 255, 255, 0.05);
   
  
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid #c9386b94;
    border-radius: 56px;
    box-shadow: 4px 10px 15px 10px rgba(0, 0, 0, 0.08);
    height: 95%;
    width: 87%;
  
}
.Modal3{
    margin-top: 0.5%;
    margin-left: 100px;
    background: rgba(255, 255, 255, 0.224);
    border: 1px solid #1ea4d9ca;  
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border-radius: 56px;
    box-shadow: 4px 10px 15px 10px rgba(0, 0, 0, 0.08);
    height: 95%;
    width: 87%;
  
}
.Modal4{
    margin-top: 0.5%;
    margin-left: 100px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #CB3769;  
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border-radius: 56px;
    box-shadow: 4px 10px 15px 10px rgba(0, 0, 0, 0.08);
    height: 95%;
    width: 87%;
  
}
.closeModal{
    position: relative;

}
.container{
    display: flex;
    height: 100%;
}
#card_no_description{
    line-height: 65px;
}
.right{
    line-height: 35px;
   flex: 1;
    height: 100%;
    
   
}


.left{
    flex: 1;
    border-bottom-left-radius: 56px;
    border-top-left-radius: 56px;
    position: relative;  
   
}

  .background-gradient-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    z-index: 0; 
  }
 .full-height{
    height: 180%;
 }
 #categoryProduct{
    color: #ab35a3e5;
 }
 #categoryProduct2{
    color: #2152cde4;
 }
 #business{
    background: -webkit-linear-gradient(#D97218, #c9386b, #8C3586);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
 }
 #business2{
    background: -webkit-linear-gradient(#2151CD, #1EA4D9, #8C3586);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
 }
 #cartItem{
    align-items: center;
    justify-items: center;
    display: flex;
    gap: 4%;
    line-height:40px;
 }
 .ModalShop{
    align-items: center;
    padding: 15px;
    height: 55%;
    width: 20%;
    background: rgba(13, 13, 19, 0.856);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid #ab35a358;

 }
 .title_shop{
    color: #AB35A3;
 }
 .item_shop{
   color: white;
 }
 .item-name{
    width: 70%;
 }
 #remove{
    margin-top: 5%;
 }
.button {
   display: flex;
  }
 
 #button2 {
    --color: #8C3586;
  
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 16px;
    font-weight: 500;
    color: var(--color);
   }
   
   #button2:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 20%;
   }
   
   #button2:hover {
    color: #fff;
   }
   
   #button2:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   #button2:hover:before {
    top: -30px;
    left: -30px;
   }
   
   #button2:active:before {
    background: #8C3586;
    transition: background 0s;
   }
   #button_more{
    background: #1EA4D9;
    color: white;
    padding: 4px;
    border-radius: 20pc;
   }
   .ver_mas_es{
    height: 90%;
    margin-left: 95px;
    border-radius: 20px;
    border: 2px solid #1EA4D9;
    
   }
   .ver_mas_es2{
    
    align-items: center;
   }